<div class="home-banner">
  <div class="home-banner-content">
    <h1>Le meilleur traiteur mobile, pour vous</h1>
      <p>
        Ne perdez pas de temps à chercher.<br>
        Nous trouvons le meilleur traiteur mobile pour vous restaurer.
      </p>
    <p></p>
    <a href="#" class="home-btn">Je découvre</a>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 padded-top-bottom">
      <div class="h1-orange">
        <h1>Vos convives vont adorer</h1>
      </div>

      <p>Nous avons sélectionné un réseau de prestataires de qualité (hygiène, ponctualité, professionnalisme) afin de ne vous proposer que le meilleur de la streetfood.</p>
      <p>Envie de voyager au déjeuner ou au diner? Nous vous proposons une solution adaptée à vos besoins et envies quelles qu'elles soient.</p>
    </div>
  </div>
</div>
<div class="container padded text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="icono-home">
        <%= image_tag "icone-world.png" %>
      </div>
      <div class="h2-bold">
        <h2>DIVERSITE</h2>
        <p>Plus de 30 styles culinaires et plus de 1000 plats pour vous restaurer</p>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="icono-home">
        <%= image_tag "icone-local.png" %>
      </div>
      <div class="h2-bold">
        <h2>QUALITE</h2>
      </div>
      <p>Des produits frais, locaux pour une cuisine faite-maison</p>
    </div>
    <div class="col-xs-12 col-sm-4 h2-bold">
      <div class="icono-home">
        <%= image_tag "icone-cible.png" %>
      </div>
      <div class="h2-bold">
        <h2>ADAPTABILITE</h2>
      </div>
      <p>Un service sur mesure pour un évènement réussit et des convives séduits</p>
    </div>
  </div>
</div>
<div class="flexbox">
  <div class="img-item-lady">
  </div>
  <div class="text-item h2-bold">
    <h2>Service événementiel</h2>
    <br><br>
    <p>Vous souhaitez organiser un événement et apporter une touche d'originalité en changeant du traiteur traditionnel? <br><br>
    Nous étudions vos besoins et vous proposons une formule sur mesure au meilleur prix.</p><br><br>
    <!-- Button trigger modal -->
    <a href class="en-savoir-plus" data-toggle="modal" data-target="#service-event">
      En savoir plus
    </a>
    <!-- Modal -->
    <div class="modal fade text-center h1-orange" id="service-event" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Evénement</h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="icono-hp-event">
                  <%= image_tag "stand-mobile.png" %>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="icono-hp-event">
                  <%= image_tag "food-bike.png" %>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="icono-hp-event">
                  <%= image_tag "foodtruck.png" %>
                </div>
              </div>
            </div>
          <p>
            Envie d’un moment gourmand avec vos convives ? Découvrez le plaisir d’une cuisine faite-maison et de saison déclinée en plus de 30 styles culinaires et quelques milliers de possibilités.<br><br>
            Que vous soyez en intérieur ou en extérieur, donnez une touche d’originalité à votre événement en choisissant un traiteur mobile.<br>
            Avec de plus de 350 foodtrucks, foodbikes et stands mobiles, nous vous proposons la meilleure sélection de traiteurs mobiles en France.
            Le goût de leurs produits et leur professionnalisme saura conquérir à coup sûr vos convives.<br><br>
            Envie d’en savoir plus ? Découvrez le plaisir d’une streetfood de qualité !

            </p><br>
            <a href="#" class="btn-nous-contacter">Nous contacter</a>
            <br><br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flexbox">
  <div class="text-item h2-bold">
    <h2>Service rotation</h2>
    <br><br>
    <p>Envie de diversifier l'offre de restauration de votre entreprise? <br><br>
    Nous vous proposons la meilleure streetfood en intérieur comme en extérieur sur votre lieutravail. Ne perdez plus de temps à vous déplacer, profitez.</p><br><br>
    <a href class="en-savoir-plus" data-toggle="modal" data-target="#service-rotation">
      En savoir plus
    </a>
    <!-- Modal -->
    <div class="modal fade text-center h1-orange" id="service-rotation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Rotation</h3>
          </div>
          <div class="modal-body">
          <p>
            Vous souhaitez proposer une offre de restauration saine et innovante à vos collaborateurs sans supporter les coûts d’aménagement et de gestion d’une cantine interne ou en complément de l’offre actuelle ?<br>
            Notre service vous permet de privatiser de façon récurrente vos restaurateurs mobiles préférés parmi notre réseau sélectionné sur des critères de qualité.<br><br>
            Contactez-nous et réalisez un test gratuit dans vos bureaux !

            </p><br>
            <a href="#" class="btn-nous-contacter">Nous contacter</a>
            <br><br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="img-item-tacos">

  </div>
</div>

<div class="container text-center padded">
  <div class="row">
    <div class="col-xs-12 h2-bold">
      <h2>Ils ont déjà adopté la tendance.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
    <img src="http://placehold.it/80x80" alt="" class="img-circle padded">
    <p>"Grâce aux Food Truck je ne perds plus de temps à aller chercher quelque chose à manger le midi. Je peux passer plus de temps en compagnie des élèves et j’ai même 10 minutes pour me détendre avant d’attaquer l’après-midi"</p>
      Cyril Y
      ISART DIGITAL - Paris
    </div>
    <div class="col-xs-12 col-sm-4">
    <img src="http://placehold.it/80x80" alt="" class="img-circle padded">
    <p>"Depuis que mon entreprise acceuille des food trucks différents tous les jours, je me régale sans jamais me lasser."</p>
      Erwan S.
      Stratégiste - Cdiscount - Bordeaux
    </div>
    <div class="col-xs-12 col-sm-4">
    <img src="http://placehold.it/80x80" alt="" class="img-circle padded">
    <p>" Food Truck Agency nous a permis de trouver le prestataire idéal pour notre événement. Leur expertise nous a facilité la tâche et continue de le faire pour nos évènements en cours d’organisation !"</p>
      Thomas
    H&A LOCATION Bordeaux
    </div>
  </div>
</div>
<div class="container text-center padded">
  <div class="row">
    <div class="col-xs-12 h2-bold">
      <h2>Faites le test, c'est gratuit !</h2><br><br>
      <%= link_to "Nous contacter", "contact", class:"btn-nous-contacter margin-top-50" %>

    </div>
  </div>
</div>

<div class="container text-center padded">
  <div class="row">
    <div class="col-xs-12 h2-bold">
      <h2>Vous gérez un foodtruck?</h2>
      <p>Rejoignez le premier réseau français de prestataires mobiles.</p><br><br>
      <%= link_to "Nous contacter", "contact", class:"btn-nous-contacter margin-top-50" %>

    </div>
  </div>
</div>



